<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>FutTalk</title>
    <link rel = "stylesheet" href = "styles/style.css">
  </head>
  <body>
    <h1>FutTalk</h1>
    <br/>
    <form id = "logIn">
      <header>
        <h2>
          Login:
        </h2>
      </header>
      <section>
        <label for = "userName">
          Username:

        </label>
        <input id = "userName" name = "Username" type = "text" placeholder = "please enter username">
        <br/>

        <label for = "passWord">
          Password:

        </label>
        <input id = "passWord" name = "Password" type = "password" placeholder = "please enter password">
      </section>
      
      

    </form>

  </body>

</html>